{% extends 'base.html.twig' %}
{% block title 'Administration | Editer le bien' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le bien</h1>
        {{ include ('admin/property/_form.html.twig' , {form: form, button: 'Editer'} ) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css"
          rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/i18n/fr.min.js"></script>
    <script>
        $selects = $("select")
        console.log($selects)
        $selects.select2
        $selects
    </script>
{% endblock %}